*{
    margin: 0px;
    padding :0px;
    box-sizing: border-box;

}
/* .container{
    background-image: url("../website assets/home\ page\ bg.jpg");
    /* filter: brightness(50%)!important; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%; */

/* 
header .navbar-nav{
    display: inline-block;
    text-decoration: none;
    list-style: none;

} */
.logo{
     padding-top: 10px; 
     padding-left: 20px;
     margin-top: 10px;
}

.navigation{
    position: relative;
}
.navigation ul {
    position: absolute;
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 50px;
    left: 900px;
    bottom: 50px;
 
}
.navigation ul li{
    color:white;
    /* margin-top: 40px; */
    list-style: none;
}

.navigation ul a {
    text-decoration: none;
}

/* .icons{
    width: 20%;
    height: 20%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: left;

} */

#page-4{
    background-image: url("../website assets/pg-4\ bg\ pic.jpg");
    background-size: cover;
    background-color: rgb(167, 167, 167);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    
}


.container-two{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover ;
    height: 100%;
    width: 100%;
    
    

}


.madaren-p1 .border{
    border: 10px solid white;
    height: 350px;
    width: 600px;
    margin-left: 370px; 
    align-items: center; 
    justify-content: center;
   

}

.madaren-p1 img{
    width: 350px;
    height: 250px;
    margin-left: 130px;
    position: absolute; 
    padding: 30px; 
    

}


.icon{
    color:white;
    width: 50px;
    height: 50px;
    padding-top: 150px;
    padding-left: 530px;
    /* flex-wrap: warp; */
}
.madaren-p1 .border h1{
    color: white;
    font-family: sans-serif;
    /* vertical-align: sub; */
    padding-top: 30px;
    padding-left: 170px;
}

/* ---------------------------page 5----------------------------- */

#page5{
    background-image: url("../website assets/pg\ 5\ bg\ pic\ \(2\).jpg");
    background-size: cover;
    background-color: rgb(167, 167, 167);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* --------------------------page 6-------------------------------- */

#page6{
    background-image: url("../website assets/audi\ pg6.jpg");
    background-size: cover;
    background-color: rgb(167, 167, 167);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    
}
