* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

<<<<<<< Updated upstream
.ganira {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/pexels-vlad-alexandru-popa-1402787.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.minji {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/pexels-vlad-alexandru-popa-1402787.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ojuku {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/pexels-vlad-alexandru-popa-1402787.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/pexels-vlad-alexandru-popa-1402787.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.brand img {
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .ganira {
    min-height: 100vh;
    width: 100%;   
    background-image: url(/assets/assets/pexels-vlad-alexandru-popa-1402787.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center ;  
    overflow: hidden;
    
  }
  
  .minji{
    min-height: 100vh;
    width: 100%;   
    background-image: url(/assets/assets/pexels-vlad-alexandru-popa-1402787.jpg);
    background-image: url(/assets/lambo.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center ;  
    overflow: hidden;
  }
  .ojuku{
    min-height: 100vh;
    width: 100%;   
    background-image: url(/assets/assets/pexels-vlad-alexandru-popa-1402787.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center ;
    overflow: hidden;  
  }
  .gallery{
    min-height: 100vh;
    width: 100%;   
    background-image: url(/assets/assets/pexels-vlad-alexandru-popa-1402787.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center ;  
  }
  .brand img{
>>>>>>> Stashed changes
  position: absolute;

  line-height: nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  height: 80px;

}
<<<<<<< Updated upstream

.navigation ul {
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 50px;
  margin-right: 70px;
  margin-top: 50px;
  font-size: 20px;
}

.navigation ul li {
  list-style: none;
  margin-top: 40px;
  color: white;
}

.navigation ul a {
  text-decoration: none;
}

.navigation ul a:hover {
  border-bottom: 2px solid white;
  border-width: 1px;

}

.icon-bar {
  position: fixed;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 80px;
  margin-left: 20px;
}

.icon-bar a:hover {
  color: #000;
}

.facebook {

  color: white;
}

.twitter {

  color: white;
}

.linkedin {
  background: #f3efef;
  color: white;
}

.main {
  position: relative;
  margin-left: 160px;
  color: white;
  display: flex;
  margin-top: 100px;
  font-size: 40px;
  font-family: 'bliss';

}

.main h6 {
  margin-top: -50px;
}

.main p {
  margin-top: -50px;
  font-size: 15px;
  font-weight: lighter;
  position: absolute;

  top: 90px;
}

.vl {
  border-left: 3px solid whitesmoke;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-top: 260px;
  top: 0;
  opacity: 60%;
}

.imagee {
  position: absolute;
  bottom: 200px;
  margin-left: 800px;

}

.imagee img {
  height: 300px;
  width: 400px;
}
=======
  
  /* .bg-img0 {
    background-image:url("https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874__340.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    z-index: -1;
  }
  .bg-img1 {
    background-image:url("../assets/assets/Image\ 16.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .bg-img2 {
    background-image:url("../assets/assets/Image\ 15.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .bg-img3 {
    background-image:url("../assets/assets/Image\ 14.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  
  .college1-seal {
    max-height: 12em;
    max-width: 12em;
    text-align: center;
    align-items: center;
    float: left;
    display: inline-block;
    }
  .college2-seal {
    border-radius: 50%;
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-height: 12em;
    max-width: 12em;
    text-align: center;
    align-items: center;
    float: left;
  }
  .college3-seal {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-height: 12em;
    max-width: 12em;
    text-align: center;
    align-items: center;
    float: left;
  }
  .college4-logo {
    max-height: 12em;
    max-width: 12em;
    float: left;
  }
   .carousel-inner {
    padding: 1.5em 10.65em;
    font-size: 1.1em;
    background-origin:blur(50px);
  }
  .slide-box {
    position: relative;
    padding: 1.25em;
    box-shadow: 0 .5em .333em rgba(0,0,0,.8);
    overflow: hidden;
    border-radius: 2em;
    z-index: 1;
  }
  .slide-title {
    color: #000;
    font-size: 2em;
    padding: 0 0 .75em;
  }
  .slide-text {
    margin: 1.5em 0 0 12em;
    padding: 0 0 0 2em;
    height: 12em;
  }
  .slide-details {
    text-align: left;
  }
  
  .slide-info {
    padding: 0 0 1em;
  } */
>>>>>>> Stashed changes
